.shop-wrapper {
    display: block;
    position: relative;
    height: 100%;
}

.shop {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.items-wrapper {
    width: 100%;
    overflow: auto;
}

.items-container {
    display: flex;
    flex-direction: column;
}