.shop-wrapper {
    position: relative;
    display: block;
    position: relative;
    height: 100%;
}

.shop {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.apply-button {
    position: absolute;
    z-index: 1001;
    bottom: 0;
    left: 0;
    transform: translate(calc(50% + 12px), -50%);
    transform-origin: center center;
    padding: 8px 32px;
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.2), 
        0 8px 16px rgba(0, 0, 0, 0.1), 
        0 16px 32px rgba(0, 0, 0, 0.05);
}
.apply-button:hover {
    transform: translate(calc(50% + 12px), -50%) scale(1.2);
}

.items-block {
    display: flex;
    flex: 1;
    min-height: 0;
    /* width: 100%;
    height: 100%; */
}