/*checkbox list*/
.checkbox-list-wrapper {

}

.checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/*checkbox unit*/
.checkbox-wrapper {
    position: relative;
    display: block;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-input {
    position: absolute;
    left: 1px;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 3px;
    outline: 1px solid #acacac;
    transition: all 0.2s ease;
}

.checkbox:hover .checkmark {
    background: #f4f4f5;
    transition: all 0.2s ease;
}

.checkbox-input:checked ~ .checkmark {
    background: var(--secondary-active);
    outline: 1px solid var(--secondary-active);
}

.checkmark::after {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    top: 40%;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: all 0.2s ease;
}

.checkbox-input:checked ~ .checkmark::after {
    opacity: 1;
    transition: all 0.2s ease;
}