
.container-wrapper {
    background-color: #ffffff;
    box-shadow: 0px 0px 16px 0px #3A3A3A1A;
    padding: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}