.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    z-index: 1;
    background: #EFEFEF;
    opacity: 1;
    border-radius: 4px;
    box-shadow: none; /*0 1px 6px #b2bec3*/
    transition: box-shadow 0.3s ease, opacity 0.3s ease;
    pointer-events: all;
    cursor: grab;
}

.grid-item--dragging {
    z-index: 2;
    opacity: 0.7;
    box-shadow: 0 1px 6px #b2bec3; /*0 2px 12px #636e72*/
    cursor: grabbing;
}

.grid-item-img {
    width: 100%;
    height: 100%;
}