.grid-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.grid-window-content-container {
    position: relative;
    display: block;
    overflow: hidden;
}

.grid-window-scrollable-wrapper {
    transition: all 0.3s ease-in-out;
}

.grid-window-scrollable-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.grid-window-scrollable-wrapper::-webkit-scrollbar-thumb {
    background-color: #aaaaaa2d;
    border-radius: 4px;
}

.grid-window-scrollable-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #8b8b8b88;
    cursor: pointer;
}

.grid-window-scrollable-wrapper::-webkit-scrollbar-corner {
    background-color: transparent;
}

.item-grid-cell {
    transition: all 0.3s ease-in;
    border-radius: 4px;
    font-family: monospace;
    font-size: 10px;
    color: #aaaaaa;
}

.grid-item {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #cecece;
    border-radius: 4px;
    opacity: 0.5;
}

.grid-item-img {
    width: 100%;
    height: 100%;
}

.grid-window-indicator {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

@keyframes border-blink {
    0% {
        border-color: #ffcc01bd;
        box-shadow: 0 0 5px #ffcc01bd;
    }
    50% {
        border-color: transparent;
        box-shadow: none;
    }
    100% {
        border-color: #ffcc01bd;
        box-shadow: 0 0 5px #ffcc01bd;
    }
}

.grid-window-overwrap {
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.3s ease;
}

.grid-active-blink {
    animation: border-blink 1.5s ease-in-out infinite alternate;
    border-width: 2px;
    border-style: solid;
}

.grab-cursor {
    cursor: grab;
}
.grabbing-cursor {
    cursor: grabbing;
}
