.btitle {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700, bold;
    line-height: 100%;
    color: var(--primary-color);
    -webkit-text-stroke: 2px var(--secondary-color); 
}