
.content {
    position: relative;
    flex: 1 0 auto;
    background-color: #ffffff;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 320px auto 320px;
    grid-template-rows: auto;
}

.content-aside {
    position: relative;
    max-height: 100%;
    width: 320px;
}

.aside-content-container {
    height: 100%;
    width: 100%;
}

.content-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}