
.url-button {

}

.link-button {
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
    background: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.button > span {
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0;
    padding: 4px 0;
}

.button:hover {
    background: var(--secondary-hover);
}