.entity-card {
    padding: 12px;
    align-self: flex-start;
}

.entity-card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.entity-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.entity-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entity-props-btn {
    max-height: 100%;
    min-width: 20px;
}

.entity-props-btn-icon {
    stroke: var(--secondary-color);
    stroke-width: 2px;
    stroke-linecap: round;
    vertical-align: middle;   
}

.entity-img-container {}

.entity-img {
    image-rendering: pixelated;
    display: block;
}



