.garden-section {
    display: flex;
    gap: 16px;
}

.options-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
}