/* Input.module.css */
.input-container {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.input-label-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-self: flex-start;
}

.input-label-container>span {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.input-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--label-color);
}

.input-label-error {
    color: var(--danger);
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    font-size: 14px;
    background-color: var(--background-color);
    color: #070a10;
    caret-color: var(--dark-color);
    transition: all 0.3s ease-in-out;
}

.input::placeholder {
    color: #00000040;
}

.input:focus {
    outline: none;
    border-color: #40A9FF;
    box-shadow: 0 0 0 2px #1890FF33;
}

.input:disabled {
    background-color: #f9fafb;
    color: #6b7280;
    cursor: not-allowed;
}

.input-error {
    border-color: var(--danger);
    color: #7f1d1d;
}

.input-error:focus {
    border-color: var(--danger);
    box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.1);
}

.input-error::placeholder {
    color: #fca5a5;
}

.input-error-span {
    font-size: 12px;
    color: var(--danger)
}

.hide-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-25%, -50%);
    background: transparent;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}