/* RANGE STYLES */
.range-wrapper {
    display: flex;
    gap: 14px;
    align-items: center;
}

.field-label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
    font-size: 16px;
    color: #989898;
}

.range-input {
    margin-top: 4px;
    padding: 6px 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 72px;
}