.header {
    width: 100%;
    min-height: 86px;
    padding: 16px;
    grid-column: 0 / span 3;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo-container {
    display: flex;
    flex-direction: row;

}

.logo-container .logo {
    display: block;
    
}

.logo-container .separator {
    width: 2px;
    height: 100%;
    background: var(--gray-100);

}

.user-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.user-profile {
    clip-path: circle(50% at 50% 50%);
    background-color: var(--gray-100);
}

.balance-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.balance-coin-icon {

}

.balance-value {

}