.header {
    width: 100%;
    height: 86px;
    padding: 16px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.user-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 100%;
}

/* .user-profile {
    clip-path: circle(50% at 50% 50%);
    background-color: var(--gray-100);
} */
.user-profile {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-profile, .user-profile > svg {
    transition: all 0.3s ease;
}
.user-profile:hover > svg {
    stroke: var(--secondary-active);
}

.balance-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    cursor: crosshair;
}

.balance-coin-icon {
    max-height: 100%;
    height: 32px;
}
