/* FOOD LIST STYLES*/

.items-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 12px;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}