@import url('/fonts/Inter/stylesheet.css');
@import url('/fonts/Roboto/stylesheet.css');

:root {
  --primary-color: #FFCC01;
  --secondary-color: #365FAC;
  --dark-color: #000000;
  --light-color: #FFFFFF;
  font-family: "Roboto", Inter, sans-serif;
  color-scheme: light dark;
  --background-color: #FFFFFF;
  --neutral-3: #F5F5F5;
  --neutral-4: #F0F0F0;
  --border-color: #D9D9D9;
  --gray-100: #EFEFEF;
  --gray-30: rgba(239, 239, 239, 0.3);
  --def-br: 16px;
  --def-fz: 16px;
  --text-color-op85: rgba(0, 0, 0, 0.85);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --secondary-hover: #254580;
  --secondary-active: #3f77c5;

  --secondary-danger: rgba(250, 177, 160);
  --secondary-danger-op80: rgba(250, 177, 160, 0.8);
  --secondary-active-op50: rgba(63, 119, 197, 0.5);
}
/* test#3178c6 */

/* reset def browser styles */
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

/* 2-powered paddings */
.p-4 {
    padding: 4px;
}
.p-8 {
    padding: 8px;
}
.p-16 {
    padding: 16px;
}
.p-32 {
    padding: 32px;
}
.p-64 {
    padding: 64px;
}