/*tabs-root*/
.tabs-wrapper { 

}

.tabs-container {

}

.tabs-navbar {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}
.tab-btn {
    padding: 8px 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    transition:
        color 0.2s,
        border-color 0.2s;
}
.tab-btn--active {
    color: var(--secondary-color);
    border-bottom: 2px solid #3178c6;
}
.tab-indicator {
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: var(--secondary-color);
    pointer-events: none;
    z-index: 1;
    transition: 
        left 0.3s cubic-bezier(.4,0,.2,1), 
        width 0.3s cubic-bezier(.4,0,.2,1);
}
.tabs-panel {
    min-height: 100px;
    padding: 12px 0;
}
