/*tabs-root*/
.tabs-wrapper { 
    position: relative;
    width: 100%;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabs-navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 24px;
}
.tabs-navbar::after {
    content: "";
    position: absolute;
    width: calc(100% - 24px * 2);
    bottom: 0;
    height: 1px;
    background-color: var(--neutral-4);
}


.tab-btn {
    font-family: "Roboto", sans-serif;
    padding: 12px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-size: 14px;
    transition:
        color 0.2s,
        border-color 0.2s;
}
.tab-btn--active {
    color: var(--secondary-color);
    border-bottom: 2px solid #3178c6;
}
.tab-indicator {
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: var(--secondary-color);
    pointer-events: none;
    z-index: 1;
    transition: 
        left 0.3s cubic-bezier(.4,0,.2,1), 
        width 0.3s cubic-bezier(.4,0,.2,1);
}
.tabs-panel {
    min-height: 100px;
    overflow: auto;
}
